<template lang="pug">
  div
    p {{id}}
    
    .agora-button
      .button(type='primary' @click='joinEvent' :disabled='disableJoin') join
      .button(type='primary' @click='leaveEvent' plain='' :disabled='!disableJoin') leave

    .agora-view
      
      .agora-video
        streamplayer(:stream='localStream' v-if='localStream')
      .agora-video(:key='index' v-for='(remoteStream, index) in remoteStreams')
        streamplayer(:stream='remoteStream')


</template>

<script>
import RTCClient from '@/agora-client'
import streamplayer from '@/components/stream-player'
export default {
  props: ['id'],
  components: {
    streamplayer
  },
  data(){
    return{
      option: {
        appid: '7865c7daed404f4d8c3d004d7c577ca1',
        token: '0067865c7daed404f4d8c3d004d7c577ca1IABLGpFYkHblDDQ49armOxOwveuuhXCEZ0jZfYWVejNQwEHpn/oAAAAAEABVr+wwnnmyXwEAAQCfebJf',
        uid: null,
        channel: '',
      },
      disableJoin: false,
      localStream: null,
      remoteStreams: [],
      rtc: null
    }
  },
  methods: {
    joinEvent () {
      this.option.channel = this.id;
      this.rtc.joinChannel(this.option).then(() => {
        console.log('Join Success');
        this.rtc.publishStream().then((stream) => {
          console.log('Publish Success');
          this.localStream = stream
        }).catch((err) => {
          console.log('Publish Failure - local', err);
        })
      }).catch((err) => {
        console.log('Join Failure', err);
      })
      this.disableJoin = true
    },
    leaveEvent () {
      this.disableJoin = false
      this.rtc.leaveChannel().then(() => {
        console.log('Leave Success');
      }).catch((err) => {
        console.log('leave error', err)
      })
      this.localStream = null
      this.remoteStreams = []
    },
  },
  created() {
    this.rtc = new RTCClient()
    let rtc = this.rtc
    rtc.on('stream-added', (evt) => {
      let {stream} = evt
      console.log("[agora] [stream-added] stream-added", stream.getId())
      rtc.client.subscribe(stream)
    })
      
    rtc.on('stream-subscribed', (evt) => {
      let {stream} = evt
      console.log("[agora] [stream-subscribed] stream-added", stream.getId())
      if (!this.remoteStreams.find((it) => it.getId() === stream.getId())) {
        this.remoteStreams.push(stream)
      }
    })
    rtc.on('stream-removed', (evt) => {
      let {stream} = evt
      console.log('[agora] [stream-removed] stream-removed', stream.getId())
      this.remoteStreams = this.remoteStreams.filter((it) => it.getId() !== stream.getId())
    }) 
    rtc.on('peer-online', (evt) => {
      console.log(`Peer ${evt.uid} is online`)
    }) 
    rtc.on('peer-leave', (evt) => {
      console.log(`Peer ${evt.uid} already leave`)
      this.remoteStreams = this.remoteStreams.filter((it) => it.getId() !== evt.uid)
    }) 
  }
}
</script>

<style lang="scss" scoped>
.agora-view {
    display: flex;
    flex-wrap: wrap;
  }
.agora-video {
    width: 20vw;
    height: 20vw;
    margin: 20px;
  }
</style>