<template lang="pug">
  .home
    input(v-model="channel")
    .button(@click.prevent="join") Join
</template>

<script>
// @ is an alias to /src


export default {
  name: 'Home',
  components: {
    
  },
  data(){
    return{
      channel: ''
    }
  },
  methods: {
    join(){
      this.$router.push({name: 'Call', params: {id: this.channel}})
    }
  }
}
</script>
